form {
  border-bottom: 1px solid #f9f7fe;
  margin-top: 40px;
  padding-bottom: 30px;
}
#temp {
  color: black;
  font-size: 50px;
  line-height: 1;
  margin-left: 10px;
}
#icon {
  position: relative;
  width: 52px;
  height: 52px;
  margin-top: -40px;
}
#degree {
  position: relative;
  top: -20px;
  font-size: 25px;
}
footer {
  color: rgba(39, 33, 66, 0.4);
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
  text-align: center;
}
.container {
  margin: 0 auto;
  max-width: 540px;
  padding: 0px 12px;
}
.Weather h1 {
  color: black;
  font-size: 38px;
  font-weight: 700;
  line-height: 29px;
  line-height: 48px;
  margin: 20px 0 10px;
}

.weather {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  padding: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #878787;
}
.Weather li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}
.weather-forecast {
  text-align: center;
  color: #878787;
  margin-top: 40px;
}
.weather-forecast-day {
  text-align: center;
  margin-left: -30px;
}
.weather-forecast_icon {
  margin: 0px 0px 0px -30px;
  width: 50px;
}
.weather-forecast-max-temp {
  color: #f65282;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  margin-left: -15px;
}
.weather-forecast-min-temp {
  color: #ee95b0;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
